/* Global customization */

:root {
    --code-max-height: 60rem;
    --code-max-width: 60rem;
}

/* Dark mode always*/
:root {
    --header-background: #140000;
    --header-font-color: #c9c3c1;

    --body-background: #1c1a1b;
    --body-font-color: #b3b7b0;

    --mark-color: #ffab00;

    --button-background: #62cb97;
    --button-border-color: #4ec58a;

    /* --link-color: #7ac29e; */
    --link-color: #01ac88;/*#02c484;/*#31ab2c;*/
    --link-color-visited: #c27a9e;

    --code-background: #140000;
    --code-accent-color: #262b2f;
    --code-accent-color-lite: #2b3035;
    --code-font-color: #ffffff;

    --code-copy-background: #343a40;
    --code-copy-font-color: #6b7784;
    --code-copy-border-color: #6b7784;
    --code-copy-success-color: #37905c;

    --accent-color: #000000;
    --accent-color-lite: #3e393c;

    --control-icons: #000000;

    --footer-background: #4a1514;  
    --footer-font-color: #c9c3c1;
    --footer-link-color: #ffcc5c;
    --footer-link-color-visited: #ffcc5c;
}
